{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<form method="post">
  <div style='position:absolute; top:0; left:0; background-color:gray; height:80%; width:100%; overflow-y: scroll; overflow-x: scroll;'>
      <img src="{{url_for('static',filename='images/demo0.jpg')}}" style="height: 1080px; width: 1920px;">
      <div style="position: absolute; top: 0; left: 0;width: 100%; height: 100%;">
        {% for i, d in dic.items() %}
        <input is="locate-input" type='checkbox' name="{{d.name}}" value="{{d.name}}" v-model="device_name" top="{{d.v}}" left="{{d.u}}">
        {% endfor %}
      </div>
  </div>
  <input type="submit" name="confirm" value="Confirm" style="position: absolute; left: 0; bottom: 0;">
</form>
<script>
export default {
  data() {
    return {
      device_name: []
    }
  }
}
</script>
<script>
class LocateInput extends HTMLInputElement{
  constructor(){
    super();
  }
  connectedCallback(){
    this.style.position="absolute";
    this.style.height="30px";
    this.style.width="30px";
    this.style.top=this.getAttribute('top');
    this.style.left=this.getAttribute('left');

    this.style.border="3px";
    this.style.borderColor='red';
  }
}
customElements.define('locate-input', LocateInput, {extends: 'input'});
</script>
{% endblock %}