{% extends 'base.html' %}

{% block head %}
<style>
	.bar{
		overflow: hidden;
		background-color: #ED6E2C;
	}
	.bar a{
		text-decoration: none;
		font-size: 12px;
		padding: 10px 12px;
		text-align: center;
		color: white;
	}
	.quit{
		float: left;
		
	}
	.user{
		float: right;
	}
	#overlay {
	  position: fixed;
	  display: none;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgba(0,0,0,0.5);
	  z-index: 2;
	  cursor: pointer;
	}
	.confirmBox{
		width: 70%;
		height: 20%;
		background-color: white;
	}
	.form-inline{
		display: flex;
		flex-flow: row wrap;
	    align-items: center;
	}
	.form-inline a{
		padding: 10px 12px;
		background-color: #ED6E2C;
		border-radius: 5px;
		color: white;
		text-decoration: none;
	}
	.enter{
		background-color: #ED6E2C;
		padding: 10px 12px;
		border-radius: 5px;
		color: white;
		font-size: 12px;
		text-decoration: none;
	}
	.roomPic{
		height: 400px;
		width: 400px;
		border-radius: 200px;
		overflow: hidden;
	}
</style>
{% endblock %}

{% block content %}

{% endblock %}