{% extends 'base.html' %}

{% block head %}
<style>
	.form{
		width:100%;
    	height:100%;
	}
	.bar {
		/* overflow: hidden; */
		background-color: #ED6E2C;
		height: 3vh;
		z-index: 100;
		position: absolute;
		width: 100vw;
	}
	.bar a {
		text-decoration: none;
		font-size: 1.5vh;
		padding: 0.3vh 2vw;
		text-align: center;
		color: white;
	}
	.quit{
		float: left;
		
	}
	.user{
		float: right;
	}
	#overlay {
	  position: fixed;
	  display: none;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  right: 0;
	  bottom: 0;
	  background-color: rgba(0,0,0,0.5);
	  z-index: 2;
	  cursor: pointer;
	}
	.confirmBox{
		width: 70%;
		height: 20%;
		background-color: white;
	}
	.form-inline{
		display: flex;
		flex-flow: row wrap;
	    align-items: center;
	}
	.form-inline a{
		padding: 10px 12px;
		background-color: #ED6E2C;
		border-radius: 5px;
		color: white;
		text-decoration: none;
	}
	.enter {
		background-color: #ED6E2C;
		border-radius: 1vw;
		color: white;
		text-decoration: none;
		position: absolute;
		top: 85vh;
		left: 75vw;
		height: 3vh;
		width: 18vw;
		font-size: 2vh;
		text-align: center;
	}
	.roomNo {
		position: absolute;
		top: 70vh;
		font-size: 5vh;
		left: 10vw;
	}
	.roomLoc {
		position: absolute;
		top: 77vh;
		left: 10vw;
		font-size: 2.5vh;
		color: grey;
	}
	.roomPic {
		height: 60vh;
		width: 60vh;
		border-radius: 30vh;
		overflow: hidden;
		position: absolute;
		left: 15vw;
		transform: translate(0, -10vh);
		z-index: 0;
		top: 10vh;
	}
</style>
{% endblock %}

{% block content %}
<form method="post">
	<div id="app" class="bar">
		<a class="quit" href="search">Back</a>
		<!--<a class="user">{[userEmail]}</a>-->
		<a class="user">cici@ust.hk</a>
	</div>
	<!--
	<div id="overlay">
		<div class="confirmBox">
			<h3>Do you want to quit the room?</h3>
			<form class="form-inline">
				<a onclick="off()">Cancel</a>
				<a href="room">Confirm</a>
			</form>
		</div>
	</div>-->

		
	<div id="room">
		<img class="roomPic" src="{{url_for('static',filename='images/demo-ieda/360-1.jpg')}}" />
		<!--
		<h2 class="roomNo">Room {[roomNo]}</h2>
		<h4 class="roomLoc">{[roomLoc]}</h4>-->
		<h2 class="roomNo">Room 4223</h2>
		<h4 class="roomLoc">Academic Buidling 4/F, Lift 23</h4>
	</div>

	<!--<a class="enter" href="personal-device">Enter</a>-->
	<input type="submit"  class="enter" name="input" value="Enter">
</form>
<!--
<script>
Vue.createApp({
  data() {
    return {
		userEmail : "cici@ust.hk"
    }
  },
  delimiters: ['{[', ']}'],
  methods: {

  }
}).mount('#app')

Vue.createApp({
  data() {
    return {
		roomNo : "4223",
		roomLoc: "Academic Buidling 4/F, Lift 23"
    }
  },
  delimiters: ['{[', ']}'],
  methods: {

  }
}).mount('#room')
</script>
-->
<script>
function on() {
	document.getElementById("overlay").style.display = "block";
}

function off() {
	document.getElementById("overlay").style.display = "none";
}
</script>
{% endblock %}