{% extends 'base.html' %}

{% block head %}
<style>
    #mainBody{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        padding: 5vh 5vw;
    }

    .main-txt{
        width: 20vw;
        height: 10vh;

        /* font-family: 'Comfortaa'; */
        font-style: normal;
        font-weight: 360;
        font-size: 8vw;
        line-height: 10vh;
        display: flex;
        align-items: center;
        letter-spacing: -0.015em;

        color: #000000;
    }

    .searchsubhead{
        font-size: 1.5vh;
        font-weight: 800;

        padding-top: 1vh;
        padding-bottom: 2vh;
    }

    .searchBox {
        width: 100%;
        height: 6vh;
        
        font-size: 2vh;
        margin: 1vh 0 2vh 0;
        padding: 0 3vw;
        border: 0.5vw solid #000;
    }

    .roomgroup{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: stretch;
    }
    .room{
        height: 30vh;
        width: 41vw;
        margin-right: 4vw;
        border-radius: 2.9vw;
        filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.25));
        background-color: white;
    }
    .roomimg{
        width: 100%;
        height: 80%;
        border-radius: 2.9vw 2.9vw 0 0;
    }
    .roomtext{
        width: 100%;
        height: 20%;
        padding: 2% 6%;
    }
    .roomname{
        font-size: 3.3vw;
        font-weight: 500;
    }
    .roomlift{
        font-size: 2.4vw;
        font-weight: 300;
    }
    .roomelse{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        margin-left: auto;
        align-items: flex-end;
        position: relative;
        bottom: 80%;
    }
    .roomdate{
        position: relative;
        font-size: 2.4vw;
        font-weight: 300;
    }
    .roomtime{
        position: relative;
        font-size: 2.4vw;
        font-weight: 300;
    }

    #mainFooter{
        float: left;
        width: 100vw;
        height: 10vh;
        
        left: 0;

        border-top: 0.1vw solid #D9D9D9;
    }

    .btnAdd{
        position: relative;
        width: 20vw;
        height: 7vh;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);

        background: #000000;
        border-radius: 3.5vh;

        font-size: 4vh;
        color: white;
    }

</style>

{% endblock %}

{% block content %}

<form method="post" id="admin-main" enctype="multipart/form-data">
  <div class="main">
    <!-- body -->
    <div id="mainBody">  
        <div class="main-txt">Rooms</div>
        <div class="searchsubhead">SEARCH</div>
            <input class="searchBox" type="text" placeholder="Search all rooms" name="room_id" v-model="roomid"/>
        <div class="searchsubhead">BROWSE ALL</div>
        <div class="roomgroup">
            {% for k, v in roomInfo.items() %}
            <div class="room" v-on:click="goRoom($event, {{v.name}})">
                <img class="roomimg" src="../../static/images/test/room{{v.name}}/IMG{{v.name}}.png" />
                <div class="roomtext">
                    <div class="roomname">Room {{v.name}}</div>
                    <div class="roomlift">Lift {{v.lift}}</div>
                    <div class="roomelse">
                        <div class="roomdate">{{v.date}}</div>
                        <div class="roomtime">{{v.time}}</div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- footer -->
    <div id="mainFooter">
        <input class="btnAdd" type="submit" name="add" value="+">
    </div>
  </div>
  <!-- auxiliary field: not show in frontend, deal with form submit to send RoomId -->
  <div id="roomId" style="display:none">
    <input id="children0" type="text" name="roomid" value="" style="display:none">
  </div>
</form>

<script>
    Vue.createApp({
      data() {
        return {
        }
      },
      delimiters: ['{[', ']}'],
      methods: {
        goRoom: function (event, roomid) {
            var form = document.getElementById("admin-main");
            var roomDiv = document.getElementById("roomId");

            roomDiv.children[0].setAttribute('value', roomid);
            console.log(roomDiv.children[0].value)
            
            form.submit();
        },
      }
    }).mount('#admin-main')    
</script>

<script>
   

</script>
{% endblock %}