{% extends 'base.html' %}

{% block head %}
<style>

#btn-setup {
  position: absolute; 
  right: 15%; 
  top: 5%;
  width: 12%;
  height: 4%;
  font-size: 4vw;
  border: none;
  z-index: 20;
  border-radius: 1.5rem 0 0 1.5rem;
}
#btn-reset {
  position: absolute; 
  right: 3%; 
  top: 5%;
  width: 12%;
  height: 4%;
  font-size: 4vw;
  border: none;
  border-radius: 0 1.5rem 1.5rem 0;
  z-index: 20;
}

#el-ckb{
  transform: translateY(-150%) scale(5, 5);
  margin: 0 0 0 15%;
}

#el-text{
  transform: translateY(-5%);
  padding: 0 0 0 12%;
}

.active{
  background-color: #ed6e2c;
  color: white;
}

#header{
  width: 100vw;
  height: 3vh;
}

#btn-quit{
  border: none;
  height: 3vh;
  padding: 0 0 0.5% 2%;
  background-color: #ed6e2c;
  color: white;
  font-size: 2vh;
}

#header-email{
  border: none;
  height: 3vh;
  float: right;
  padding: 0.5% 2% 0 0;
  right: 10vw;
  background-color: #ed6e2c;
  color: white;
  font-size: 1.5vh;
}


.btn{
  background-color: #ed6e2c;
  color: white;
  width: 25%;
  height: 5%;
  font-size:5em;
  border-radius: 10%;
}

</style>
{% endblock %}

{% block content %}
<form id="app" method="post">
  <input id='btn-setup' type='button' name="setup" value='Setup' v-bind:class="[isSelected == 1?'active':'']" @click="change1()">
  <input id='btn-reset' type='button' name="reset" value='Reset' v-bind:class="[isSelected == 0?'active':'']" @click="change1()">
  <div id="header" class="active">
    <input id="btn-quit" type='button' name="quit" value="Quit">
    <div id="header-email">{[headerEmail]}</div>
  </div>
  <div id="long-img" style='position:absolute; top:3vh; left:0; background-color:gray; height: 80%; width: 100%; overflow-y: scroll; overflow-x: scroll;' @mousedown="move($event)">
      <img style='position:absolute;' src="{{url_for('static',filename='images/demo0.jpg')}}">
      {% for i, d in dic.items() %}
      <div id="el-device-{{d.name}}" class="device" onclick="enlarge($(this))">
        <input id="el-ckb" onclick="stopPropagation(event)" is="locate-input" type='checkbox' name="{{d.name}}" value="{{d.name}}" v-model="device_name" top="{{d.v}}" left="{{d.u}}">
        <label id="el-text" for="{{d.name}}">{{d.name}}</label>
      </div>
      {% endfor %}
  </div>
  <input class="btn" type="submit" name="previous" value="Previous" style="position: absolute; left: 10%; bottom: 8%;">
  <input class="btn" type="submit" name="confirm" value="Upload" style="position: absolute; right: 10%; bottom: 8%;">
</form>
<script>
function enlarge($t){
  $t.children("input").click();
}
function stopPropagation(event){
  event.stopPropagation();
}
Vue.createApp({
  data() {
    return {
      device_name: [],
      isSelected: 1,
      headerEmail: 'rose@gmail.com'
    }
  },
  delimiters: ['{[', ']}'],  // Fix bug: Avoid Mustache syntax conflict in Vue and flask.jinjia2
  methods: {
    change1(){
      // console.log(this.isSelected)
      this.isSelected = 1 - this.isSelected;
    },
    move(e){
      let obj = e.target;  // 获取目标元素
      // console.log(obj)
      var devices = JSON.parse('{{ dic | tojson | safe}}')

      //算出鼠标相对元素的位置
      let startX = e.pageX - obj.offsetLeft;
      let startY = e.pageY - obj.offsetTop;

      document.onmousemove = (e)=>{       // 鼠标按下并移动的事件
          // 用鼠标的位置减去鼠标相对元素的位置，得到元素的位置
          e.preventDefault()
          let left = e.pageX - startX;    
          let top = e.pageY - startY;

          // 移动当前元素
          left = left < 0 ? left : 0;
          top = top < 0 ? top : 0;

          // left = left < -3080 ? -3080 : left;  // 5000图片大小 - 1920屏幕分辨率
          // top = top > -880 ? 880 : top;  // 720 - 1600

          obj.style.left = left + 'px';
          obj.style.top = top + 'px';

          for(let i = 0; i < Object.keys(devices).length; i++)
          {
            let div=document.getElementById("el-device-" + devices[i].name)  // device
            div.style.left = left + devices[i].u;
            div.style.top = top + devices[i].v;
          }
      };

      document.onmouseup = () => {
          document.onmousemove = null;
          document.onmouseup = null;
      };
    }
  }
}).mount('#app')
</script>
<script>
class LocateInput extends HTMLInputElement{
  constructor(){
    super();
  }
  connectedCallback(){
    var objs = JSON.parse('{{ dic | tojson | safe}}')
    console.log(objs)

    for(let i = 0; i < Object.keys(objs).length; i++)
    {
      let obj = objs[i]
      let parentDiv=document.getElementById("el-device-" + obj.name)  // label
      parentDiv.style.position='absolute'
      parentDiv.style.top=obj.v;
      parentDiv.style.left=obj.u;
      parentDiv.style.width='450px'
      parentDiv.style.height='125px'
      parentDiv.style.padding='15px 20px'
      parentDiv.style.border='1px solid #111' 
      parentDiv.style.borderRadius='1.5rem'
      parentDiv.style.backgroundColor='rgb(255,255,255,0.2)'
      parentDiv.style.fontSize='4em'
    }
  

    // this.style.position="absolute";
    // this.style.height="30px";
    // this.style.width="30px";
    // this.style.top=this.getAttribute('top');
    // this.style.left=this.getAttribute('left');

    // this.style.border="3px";
    // this.style.borderColor='red';
    // this.style.borderRadius='10%';
    // this.style.textIndent='10%';
    // this.style.backgroundColor='azure';
  }
}
customElements.define('locate-input', LocateInput, {extends: 'input'});
</script>
{% endblock %}